# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/
env/
*.egg-info
*.egg

# Django
*.log
/staticfiles/
media/
*.pot
*.pyc
*.mo
.DS_Store

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
